<div class="create_post">
  <div class="input">
    <%= image_tag('ava1.jpg') %>
    <input id="myBtn" placeholder="Lแบกi Vฤn ฦกi, bแบกn ฤang nghฤฉ gรฌ thแบฟ?"/>
  </div>
  <div>
    <div class="line"></div>
  </div>
  <div class="tool">
    <div class="item">
      <div>
        <%= image_tag('video-svgrepo-com.svg') %>
        Video trแปฑc tiแบฟp
      </div>
    </div>
    <div class="item">
      <div>
        <%= image_tag('image-svgrepo-com.svg') %>
        แบขnh/video
      </div>
    </div>
    <div class="item">
      <div>
        <%= image_tag('emo-sunglasses-svgrepo-com.svg') %>
        Cแบฃm xรบc/Hoแบกt ฤแปng
      </div>
    </div>
  </div>
</div>
<div class="post_item">
  <div class="title">
    <div class="avatar">
      <%= image_tag('post1.jpg') %>
    </div>
    <div class="auth">
      <h5 class="user_name">Grab</h5>
      <div class="regime">ฤฦฐแปฃc tรi trแปฃ</div>
    </div>
    <div class="tool">
      <div class="item">
        <%= image_tag('dot-menu-more-2-svgrepo-com.svg') %>
      </div>
    </div>
  </div>
  <div class="text">
    ๐ฅ Nhแปฏng โbแป nรฃo cรก vรngโ cแบงn giao gแบฅp ฤแป ฤแป quรชn, nhแปฏng chแปง shop phแบฃi ship hรng liแปn cho khรกch โiuโ hay nhแปฏng cแบทp ฤรดi muแปn tแบทng quร bแบฅt ngแป cho ฤแปi phฦฐฦกng thรฌ cแปฉ GrabExpress Siรชu Tแปc mร ฤแบทt nha!
    โChแป 30 phรบt, hรng giao tแบญn tay.
    โTรi xแบฟ ฤรดng, ฤแบทt lร cรณ ngay.
    โฤแบทc biแปt, luรดn cรณ ฦฐu ฤรฃi dรnh riรชng cho bแบกn mแปi lแบงn ฤแบงu sแปญ dแปฅng GrabExpress ฤรณ nha!
    โจGiao ฤi ฤรขu cลฉng ฤฦฐแปฃc, thแปi ฤiแปm nรo cลฉng xong. Miแปn lร bแบกn cแบงn, GrabExpress Siรชu tแปc cรณ mแบทt ฤแป giao hรng liแปn!
    โก๏ธฤแบทt ngay!
    Lฦฐu รฝ:
    ๐Sแป lฦฐแปฃng khuyแบฟn mรฃi cรณ hแบกn, chฦฐฦกng trรฌnh cรณ thแป kแบฟt thรบc sแปm hฦกn dแปฑ kiแบฟn.
    ๐ฦฏu ฤรฃi khรดng bao gแปm phแปฅ phรญ nแปn tแบฃng, ngฦฐแปi dรนng vui lรฒng thanh toรกn phแบงn phแปฅ phรญ nรy vแปi ฤแปi tรกc tรi xแบฟ.
    ๐Chแป รกp dแปฅng vแปi phiรชn bแบฃn app mแปi nhแบฅt.
  </div>
  <div class="content">
    <%= image_tag('post_content_1') %>
  </div>
  <div class="view">
    <%# <%= image_tag('like-svgrepo-com.svg') %>
    <div class="item">
      <%= image_tag('like-svgrepo-com.svg') %>
      <div class="number_react">
        10
      </div>
    </div>
    <div class="item">
      <div class="number_comment">
        10
      </div>
      <div class="comment">
        bรฌnh luแบญn
      </div>
    </div>
    <div class="item">
      <div class="number_share">10</div>
      <div class="share">lฦฐแปฃt chia sแบป</div>
    </div>
  </div>
  <div class="line">
  </div>
  <div class="tool">
    <div class="item">
      <%= image_tag('like-svgrepo-com.svg') %>
      <div class="number_react">
        Thรญch
      </div>
    </div>
    <div class="item">
      <%= image_tag('chat-square-svgrepo-com.svg') %>
      <div class="comment">
        Bรฌnh luแบญn
      </div>
    </div>
    <div class="item">
      <%= image_tag('share-svgrepo-com.svg') %>
      <div class="share">Chia sแบป</div>
    </div>
  </div>
</div>

<div class="post_item">
  <div class="title">
    <div class="avatar">
      <%= image_tag('post1.jpg') %>
    </div>
    <div class="auth">
      <h5 class="user_name">Grab</h5>
      <div class="regime">ฤฦฐแปฃc tรi trแปฃ</div>
    </div>
    <div class="tool">
      <div class="item">
        <%= image_tag('dot-menu-more-2-svgrepo-com.svg') %>
      </div>
    </div>
  </div>
  <div class="text">
    ๐ฅ Nhแปฏng โbแป nรฃo cรก vรngโ cแบงn giao gแบฅp ฤแป ฤแป quรชn, nhแปฏng chแปง shop phแบฃi ship hรng liแปn cho khรกch โiuโ hay nhแปฏng cแบทp ฤรดi muแปn tแบทng quร bแบฅt ngแป cho ฤแปi phฦฐฦกng thรฌ cแปฉ GrabExpress Siรชu Tแปc mร ฤแบทt nha!
    โChแป 30 phรบt, hรng giao tแบญn tay.
    โTรi xแบฟ ฤรดng, ฤแบทt lร cรณ ngay.
    โฤแบทc biแปt, luรดn cรณ ฦฐu ฤรฃi dรnh riรชng cho bแบกn mแปi lแบงn ฤแบงu sแปญ dแปฅng GrabExpress ฤรณ nha!
    โจGiao ฤi ฤรขu cลฉng ฤฦฐแปฃc, thแปi ฤiแปm nรo cลฉng xong. Miแปn lร bแบกn cแบงn, GrabExpress Siรชu tแปc cรณ mแบทt ฤแป giao hรng liแปn!
    โก๏ธฤแบทt ngay!
    Lฦฐu รฝ:
    ๐Sแป lฦฐแปฃng khuyแบฟn mรฃi cรณ hแบกn, chฦฐฦกng trรฌnh cรณ thแป kแบฟt thรบc sแปm hฦกn dแปฑ kiแบฟn.
    ๐ฦฏu ฤรฃi khรดng bao gแปm phแปฅ phรญ nแปn tแบฃng, ngฦฐแปi dรนng vui lรฒng thanh toรกn phแบงn phแปฅ phรญ nรy vแปi ฤแปi tรกc tรi xแบฟ.
    ๐Chแป รกp dแปฅng vแปi phiรชn bแบฃn app mแปi nhแบฅt.
  </div>
  <div class="content">
    <%= image_tag('post_content_1') %>
  </div>
  <div class="view">
    <%# <%= image_tag('like-svgrepo-com.svg') %>
    <div class="item">
      <%= image_tag('like-svgrepo-com.svg') %>
      <div class="number_react">
        10
      </div>
    </div>
    <div class="item">
      <div class="number_comment">
        10
      </div>
      <div class="comment">
        bรฌnh luแบญn
      </div>
    </div>
    <div class="item">
      <div class="number_share">10</div>
      <div class="share">lฦฐแปฃt chia sแบป</div>
    </div>
  </div>
  <div class="line">
  </div>
  <div class="tool">
    <div class="item">
      <%= image_tag('like-svgrepo-com.svg') %>
      <div class="number_react">
        Thรญch
      </div>
    </div>
    <div class="item">
      <%= image_tag('chat-square-svgrepo-com.svg') %>
      <div class="comment">
        Bรฌnh luแบญn
      </div>
    </div>
    <div class="item">
      <%= image_tag('share-svgrepo-com.svg') %>
      <div class="share">Chia sแบป</div>
    </div>
  </div>
</div>

<div class="post_item">
  <div class="title">
    <div class="avatar">
      <%= image_tag('post1.jpg') %>
    </div>
    <div class="auth">
      <h5 class="user_name">Grab</h5>
      <div class="regime">ฤฦฐแปฃc tรi trแปฃ</div>
    </div>
    <div class="tool">
      <div class="item">
        <%= image_tag('dot-menu-more-2-svgrepo-com.svg') %>
      </div>
    </div>
  </div>
  <div class="text">
    ๐ฅ Nhแปฏng โbแป nรฃo cรก vรngโ cแบงn giao gแบฅp ฤแป ฤแป quรชn, nhแปฏng chแปง shop phแบฃi ship hรng liแปn cho khรกch โiuโ hay nhแปฏng cแบทp ฤรดi muแปn tแบทng quร bแบฅt ngแป cho ฤแปi phฦฐฦกng thรฌ cแปฉ GrabExpress Siรชu Tแปc mร ฤแบทt nha!
    โChแป 30 phรบt, hรng giao tแบญn tay.
    โTรi xแบฟ ฤรดng, ฤแบทt lร cรณ ngay.
    โฤแบทc biแปt, luรดn cรณ ฦฐu ฤรฃi dรnh riรชng cho bแบกn mแปi lแบงn ฤแบงu sแปญ dแปฅng GrabExpress ฤรณ nha!
    โจGiao ฤi ฤรขu cลฉng ฤฦฐแปฃc, thแปi ฤiแปm nรo cลฉng xong. Miแปn lร bแบกn cแบงn, GrabExpress Siรชu tแปc cรณ mแบทt ฤแป giao hรng liแปn!
    โก๏ธฤแบทt ngay!
    Lฦฐu รฝ:
    ๐Sแป lฦฐแปฃng khuyแบฟn mรฃi cรณ hแบกn, chฦฐฦกng trรฌnh cรณ thแป kแบฟt thรบc sแปm hฦกn dแปฑ kiแบฟn.
    ๐ฦฏu ฤรฃi khรดng bao gแปm phแปฅ phรญ nแปn tแบฃng, ngฦฐแปi dรนng vui lรฒng thanh toรกn phแบงn phแปฅ phรญ nรy vแปi ฤแปi tรกc tรi xแบฟ.
    ๐Chแป รกp dแปฅng vแปi phiรชn bแบฃn app mแปi nhแบฅt.
  </div>
  <div class="content">
    <%= image_tag('post_content_1') %>
  </div>
  <div class="view">
    <%# <%= image_tag('like-svgrepo-com.svg') %>
    <div class="item">
      <%= image_tag('like-svgrepo-com.svg') %>
      <div class="number_react">
        10
      </div>
    </div>
    <div class="item">
      <div class="number_comment">
        10
      </div>
      <div class="comment">
        bรฌnh luแบญn
      </div>
    </div>
    <div class="item">
      <div class="number_share">10</div>
      <div class="share">lฦฐแปฃt chia sแบป</div>
    </div>
  </div>
  <div class="line">
  </div>
  <div class="tool">
    <div class="item">
      <%= image_tag('like-svgrepo-com.svg') %>
      <div class="number_react">
        Thรญch
      </div>
    </div>
    <div class="item">
      <%= image_tag('chat-square-svgrepo-com.svg') %>
      <div class="comment">
        Bรฌnh luแบญn
      </div>
    </div>
    <div class="item">
      <%= image_tag('share-svgrepo-com.svg') %>
      <div class="share">Chia sแบป</div>
    </div>
  </div>
</div>

<div id="myModal" class="modal">
  <div class="modal-content modal_create_post">
    <span class="close" id="close">&times;</span>
    <div class="modal_title">
      <h4>Tแบกo bรi viแบฟt</h4>
    </div>
    <div class="auth">
      <div class="user_avatar">
        <%= image_tag('ava1.jpg') %>
      </div>
      <div class="user_name">
        <h5 class="item">
          <%= current_user.email %>
        </h5>
        <button class="item" id="myBtn1">
          tuy chinh
        </button>
      </div>
    </div>
  </div>
</div>
<div id="myModal1" class="modal">
  <div class="modal-content modal_mode">
    <span class="close" id="close1">&times;</span>
    <div class="modal_title">
      <h4>ฤแปi tฦฐแปฃng cแปงa bรi viแบฟt</h4>
    </div>
    <div class="text">
      <strong>Ai cรณ thแป xem bรi viแบฟt cแปงa bแบกn?</strong>
      Bรi viแบฟt cแปงa bแบกn sแบฝ hiแปn thแป แป Bแบฃng feed, trang cรก nhรขn vร kแบฟt quแบฃ tรฌm kiแบฟm.
      Tuy ฤแปi tฦฐแปฃng mแบทc ฤแปnh lร <strong>Bแบกn bรจ</strong>, nhฦฐng bแบกn cรณ thแป thay ฤแปi ฤแปi tฦฐแปฃng cแปงa riรชng bรi viแบฟt nรy.
    </div>
    <label class="radio_btn_wrap">
        <%= image_tag('global-svgrepo-com.svg') %>
      <div class="item">
        Bแบฅt kแปณ ai
      </div>
      <%= radio_button("post", "mode", "public") %>
    </label>
    <label class="radio_btn_wrap">
      <%= image_tag('friend-3-svgrepo-com.svg') %>
      <div class="item">
        Bแบกn bรจ
      </div>
      <%= radio_button("post", "mode", "only_friend", :checked => true) %>
    </label>
    <label class="radio_btn_wrap">
      <%= image_tag('lock-svgrepo-com.svg') %>
      <div class="item">
        Chแป mรฌnh tรดi
      </div>
      <%= radio_button("post", "mode", "only_me") %>
    </label>
    <div class="button_wrap">
      <button class="cancel">Hแปงy</button>
      <button class="mode_seleted" id="mode_seleted">Xong</button>
    </div>
  </div>
</div>
