<div class="item">
  <%= image_tag('home-filled-svgrepo-com.svg') %>
  <div>Trang chủ</div>
</div>
<div class="item">
  <%= image_tag('avatar-svgrepo-com.svg') %>
  <div>Vo Lại Văn</div>
</div>
<div class="line"></div>
<div class="item">
  <%= image_tag('friend-3-svgrepo-com.svg') %>
  <div>Bạn bè</div>
</div>
<div class="item">
  <%= image_tag('mark-2-svgrepo-com.svg') %>
  <div>Đã lưu</div>
</div>
<div class="item">
  <%= image_tag('post-sign-message-svgrepo-com.svg') %>
  <div>Bảng feed</div>
</div>
<div class="item">
  <%= image_tag('video-streaming-svgrepo-com.svg') %>
  <div>watch</div>
</div>
<div class="item">
  <%= image_tag('list-svgrepo-com.svg') %>
  <div>Xem tất cả</div>
</div>
<div class="line"></div>
<div class="item">
  <%= image_tag('1.jpg') %>
  <div>Chuyên toán tiểu học</div>
</div>
<div class="item">
  <%= image_tag('2.jpg') %>
  <div>Lớp 2 - CNTT-  K59 - GTVT</div>
</div>
<div class="item">
  <%= image_tag('3.jpg') %>
  <div>Công nghệ thông tin GTVT - FITUTC</div>
</div>
<div class="item">
  <%= image_tag('list-svgrepo-com.svg') %>
  <div>Xem tất cả các nhóm</div>
</div>
<div class="line"></div>
<div class="item">
  <%= image_tag('1.jpg') %>
  <div>Chuyên toán tiểu học</div>
</div>
<div class="item">
  <%= image_tag('1.jpg') %>
  <div>Chuyên toán tiểu học</div>
</div>
<div class="item">
  <%= image_tag('1.jpg') %>
  <div>Chuyên toán tiểu học</div>
</div>
<div class="item">
  <%= image_tag('2.jpg') %>
  <div>Lớp 2 - CNTT-  K59 - GTVT</div>
</div>
<div class="item">
  <%= image_tag('3.jpg') %>
  <div>Công nghệ thông tin GTVT - FITUTC</div>
</div>
<div class="item">
  <%= image_tag('list-svgrepo-com.svg') %>
  <div>Xem tất cả lối tắt</div>
</div>
