<h2>Sinh nhật</h2>
<div class="item">
  <%= image_tag('gift-svgrepo-com.svg') %>
  <div>
    Hôm nay là sinh nhật của
    <strong>Nguyễn Kiều Hoa</strong>
    và
    <strong>Hai Thái</strong>
    .
  </div>
</div>
<div class="line">
  <h2>Người liên hệ</h2>
  <div>
    <%= image_tag('video-svgrepo-com.svg') %>
    <%= image_tag('icons8-search.svg') %>
  </div>
</div>
<div class="item">
  <%= image_tag('ava1.jpg') %>
  <div>Hữu An</div>
</div>
<div class="item">
  <%= image_tag('ava2.jpg') %>
  <div>Đỗ Ngọc Hiếu</div>
</div>
<div class="item">
  <%= image_tag('ava3.jpg') %>
  <div>Thăng Long</div>
</div>
<div class="item">
  <%= image_tag('ava4.jpg') %>
  <div>Lại Phú Nghiêm</div>
</div>
<div class="item">
  <%= image_tag('ava1.jpg') %>
  <div>Trịnh Thị Hồng</div>
</div>
<div class="item">
  <%= image_tag('ava2.jpg') %>
  <div>Tran Ba Tuan Anh</div>
</div>
<div class="item">
  <%= image_tag('ava3.jpg') %>
  <div>Phúc Hưng</div>
</div>
<div class="item">
  <%= image_tag('ava4.jpg') %>
  <div>Lại Xuân Lộc</div>
</div>
<div class="item">
  <%= image_tag('ava1.jpg') %>
  <div>Hạnh Văn</div>
</div>
<div class="item">
  <%= image_tag('ava2.jpg') %>
  <div>Quynh Anh</div>
</div>
<div class="item">
  <%= image_tag('ava3.jpg') %>
  <div>Dep Trai Nguyên</div>
</div>
<div class="item">
  <%= image_tag('ava4.jpg') %>
  <div>Duoi Loc Coc</div>
</div>
<div class="item">
  <%= image_tag('ava1.jpg') %>
  <div>Hoàng Thúy</div>
</div>
<div class="item">
  <%= image_tag('ava2.jpg') %>
  <div>Lai Giang</div>
</div>
<div class="item">
  <%= image_tag('ava3.jpg') %>
  <div>Idol Hoang Anh</div>
</div>
<div class="item">
  <%= image_tag('ava4.jpg') %>
  <div>Thanh Hai Vo</div>
</div>
<div id="signDropdown" class="signDropdown">
  <%= link_to "Đăng xuất", "/users/sign_out", method: :delete %>
  <%= link_to "Đăng xuất", "/users/sign_out", method: :delete %>
</div>
